<html th:replace="~{base :: layout (~{:: main})}">
<body>
<main>
  <h1>Lista de Bancos</h1>

  <ul>
    <li>
      <a href="/populateBanks">Importar da API</a>

    </li>
    <li>
      <a href="/banks/form">Adicionar novo</a>
    </li>

    <li>
      <a href="/banks/json">Listar json</a>
    </li>

    <li>
      <a href="/">Voltar</a>
    </li>
  </ul>


  <h3 stye="color:blue;" th.if="${mensagem}}"> [[ ${mensagem} ]]</h3>
  <form action="#" method="post" th:action="@{/banks/search}">
    <div> Busca: <input type="number" name="busca" placeholder="Busca por Id">
    <input type="submit" value="Buscar">
    <a href="/banks"><input type="button" value="Limpar"></a>

    </div>
  </form>

  <table class="table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Code</th>
      <th>Ispb</th>
      <th>FullName</th>
      <th>Ações</th>
    </tr>
    <tr th:each="bank : ${banks}" >
      <td th:text="${bank.id}"></td>
      <td th:text="${bank.name}"></td>
      <td th:text="${bank.code}"></td>
      <td th:text="${bank.ispb}"></td>
      <td th:text="${bank.fullName}"></td>
      <td>
        <ul>
          <li><a th:href="@{/banks/form/edit/{id}(id=${bank.id})}">Editar</a></li>
          <li><a th:href="@{/banks/delete/{id}(id=${bank.id})}">Apagar</a></li>

        </ul>
      </td>

    </tr>
  </table>
</main>
</body>
</html>




