<html th:replace="~{base :: layout (~{:: main})}">
<body>
<main>
    <h1>Início</h1>
    <ul>
        <li>
            <a href="/banks">Banks</a>
        </li>
        <li>
            <a href="/ceps">Ceps</a>
        </li>

        <li>
            <a href="/marcas">Marcas de Veículo</a>
        </li>

        <li>
            <a href="/precos">Preços de Veículo</a>
        </li>

        <li>
            <a href="/tabelasFipe">Tabela Fipe de Referência</a>
        </li>

        <li>
            <a href="/feriadosNacional">Feriados Nacionais</a>
        </li>

        <li>
            <a href="/estados">Estados</a>
        </li>




    </ul>
</main>
</body>
</html>

